.goku {
    width: 140px;
    position: absolute;
    z-index: 2;
    left: 300px;
}

.vegeta {
    width: 200px;
    left: 290px;
    position: absolute;
    z-index: 2;
    top: 150px;
}

.praia {
    width: 500px;
    position: absolute;
    z-index: 1;

}